<app-blank title="Hesap Planı" [navs]="navs">
    <app-section sectionTitle="Hesap Planı Listesi">
        <div class="form-group float-right col-md-3">
            <input type="search" placeholder="Aranacak değer..." [(ngModel)]="filterText" class="form-control search">
        </div>
        <div class="form-group">
        <table class="table table-bordered">
            <thead>
                <tr>                    
                    <th>Code</th>
                    <th>Tipi</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ucaf of ucafs | ucafPipe: filterText let index = index">                    
                    <td [innerText]="ucaf.code"></td>
                    <td [innerText]="ucaf.type"></td>
                    <td [innerText]="ucaf.name"></td>
                    <td>
                        <button class="btn btn-outline-warning btn-sm" title="Güncelle">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm mx-1" title="Sil">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </app-section>
</app-blank>