<body class="hold-transition login-page">
    <div class="login-box">      
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a routerLink="/" class="h1"><b>e-</b>Muhasebe</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Giriş yapmak için bilgilerinizi doldurun</p>
    
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="input-group mb-3">
              <input
                type="text"
                #emailOrUserName
                name="emailOrUserName"
                required
                minlength="3"
                ngModel
                [validInput]="emailOrUserName.validity.valid"
                class="form-control"
                placeholder="Mail adresi ya da Kullanıcı adı">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Mail adresi ya da kullanıcı adı yazmalısınız!
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                #password
                name="password"
                required
                minlength="6"
                ngModel
                [validInput]="password.validity.valid"
                class="form-control"
                placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Geçerli bir şifre giriniz!
              </div>
            </div>
            <div class="form-group">
             <button
                type="submit"
                class="btn btn-primary btn-block w-100"
                [disabled]="!loginForm.valid">
                Giriş Yap
              </button>
            </div>
          </form>
    
          <div class="social-auth-links text-center mt-2 mb-3">
            <!-- <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a> -->
          </div>
          <!-- /.social-auth-links -->
    
          <p class="mb-1">
            <a>Şifremi unuttum</a>
          </p>          
        </div>       
      </div>      
    </div>    
    </body>